@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);
.menu, .menu:before, .menu:after {
  background: #000;
  width: 30px;
  height: 3px; }

@keyframes menu-hover-top-over {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(8px); }
  100% {
    transform: translateY(0); } }
@keyframes menu-hover-bottom-over {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(0); } }
@keyframes menu-load-state-top {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(8px); }
  100% {
    transform: translateY(0); } }
@keyframes menu-load-state-bottom {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-8px); }
  100% {
    transform: translateY(0); } }
@keyframes menu-active-slide {
  0% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0); } }
@keyframes top-rot-in {
  0% {
    transform: rotate(0deg);
    transform-origin: left; }
  100% {
    transform: rotate(45deg);
    transform-origin: left; } }
@keyframes bot-rot-in {
  0% {
    transform: rotate(0deg);
    transform-origin: left; }
  100% {
    transform: rotate(-45deg);
    transform-origin: left; } }
body {
  font-family: 'Roboto', sans-serif;
  color: black; }
  body a {
    color: black;
    text-decoration: none;
    max-width: 100px; }

.button {
  padding: 5px;
  height: 30px;
  width: 30px;
  display: block;
  position: relative;
  left: 15px;
  top: 10px;
  background: #D399FF;
  /* Old browsers */
  background: linear-gradient(135deg, #D399FF 0%, #7b96fa 100%);
  /* W3C */ }

.menu {
  position: absolute;
  top: 14px; }
  .menu:before {
    content: '';
    position: absolute;
    top: -8px;
    color: black;
    animation: menu-load-state-top .5s; }
  .menu:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    animation: menu-load-state-bottom .5s; }
  .menu b {
    opacity: 0;
    top: -13px;
    left: 2px;
    font-size: .55em;
    line-height: 1em;
    position: relative;
    transition: all 0.15s 0.15s ease-in;
    transition-delay: .5s; }

.menu:hover {
  background: transparent;
  transition: all 0.15s 0 ease-out; }
  .menu:hover:before {
    animation: menu-hover-top-over .5s .5s forwards; }
  .menu:hover:after {
    animation: menu-hover-bottom-over .5s .5s forwards; }
  .menu:hover b {
    opacity: 1; }

.sub-menu {
  font-weight: 300;
  font-size: 1.5em;
  list-style-type: none;
  padding: 30px 40px 30px 20px;
  width: 300px;
  background: #D399FF;
  /* Old browsers */
  background: linear-gradient(to bottom, #D399FF 0%, #7b96fa 100%);
  /* W3C */
  margin: 0;
  position: absolute;
  top: 8px;
  left: 65px;
  transition: opacity 0.25s ease;
  opacity: 0; }
  .sub-menu li {
    line-height: 70px;
    border-bottom: 2px solid white; }
    .sub-menu li:last-child {
      border-bottom: none; }

.active .menu {
  background: transparent; }
  .active .menu:before {
    top: -10px;
    left: 5px;
    animation: top-rot-in .5s forwards; }
  .active .menu:after {
    top: 10px;
    left: 5px;
    animation: bot-rot-in .5s forwards; }
  .active .menu b {
    opacity: 0;
    transition: all 0.10s 0 ease-out; }
.active .sub-menu {
  opacity: 1;
  transition: opacity 0.25s ease;
  top: 60px;
  display: flex;
  flex-direction: column;
  animation: menu-active-slide .25s;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 80px;
  z-index: 2; }

/*# sourceMappingURL=mobile_menu.css.map */
