* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header*/
header .logo {
    position: absolute;
    left: calc(50% - 40px);
    top: 16px;
}

header .container{
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
   }
header .container ul{
    list-style: none;
    display: flex;
    align-items: center;
    }

.main_nav ul li{
    margin-right:28px;
   }
.main_nav li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #1C1B1B;
   }
header .container ul li{
    margin-left: 16px;
}
header .container .compl_nav li:nth-child(3){
    margin-left:7px;
}

/*Section1 humanity */
.humanity{
    background-color: #F0EFEB;
    position: relative;
}
.humanity .container img{
    position: absolute;
    right:5%;
    top: 9px;
   }

.humanity .container{
    max-width: 1064px;
    margin:auto;
    padding-top: 90px;
    padding-bottom: 90px;
}
.humanity .container h1{
    max-width: 374px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.humanity .container p{
    max-width: 481px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.humanity .container a{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
    background-color: #000000;
    border-radius: 100px;
    height: 36px;
    padding: 8px 23px;
    text-align: center;
    display: inline-block;
}

/*Section2 guides explain*/
.guides_explain .container{
    max-width: 1064px;
    padding: 60px 0;
    margin: auto;
    text-align: center;
    color: #000000;
}
.guides_explain h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 27px;
    text-align: center;
}
.guides_explain p{
    max-width: 650px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin: auto;
    text-align: center;
    margin-bottom: 47px;
}
.guides_explain a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
    display: inline-block;
}
/*Section3 best sellers*/

.best_sellers .container{
    max-width: 1062px;
    padding-top: 28px;
    padding-bottom:148px;
    margin: auto;
    text-align: center;
    color: #000000;
}
.best_sellers .container h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 50px;
    text-align: center;
}
.thalby_guide{
    margin:auto;
    max-width: 315px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;

    }
.thalby_guide img{
    width: 100%;
    margin-bottom: 27px;
}
.thalby_guide h5{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 17px;
    padding: 0 75px;
}
.thalby_guide p{
    font-weight: 400;
    margin-bottom: 10px;
}
.thalby_guide a{
    font-weight: 700;
    text-decoration-line: underline;
    color: #000000;
    display: inline-block;
   }
/*Carousel*/
.owl-carousel.owl-loaded.owl-drag{
    max-width: 1058px;
   }
.owl-carousel .owl-item{
    float: none!important;
    justify-items: center!important;
}
.owl-carousel .owl-stage{
    display: flex;
    align-items: center;
    position: relative;

}

.owl-dots .owl-dot span{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 20px;
    background-color: #E5E5E5;
    border:solid 4px #D399FF;
}
.owl-dots .owl-dot.active span{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin: 20px;
    background-color: #D399FF;
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    right: -40px;
    top: 220px;
    height: 30px;
    width: 30px;
    background-color: #D399FF!important;
    border-radius: 50%;
    background-position: center;
    background-image: url("/images/chevronleft.png") !important;
    background-size: contain;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    left: -40px;
    top: 220px;
    height: 30px;
    width: 30px;
    background-color: #D399FF!important;
    border-radius: 50%;
    background-position: center;
    background-image: url("/images/chevronright.png") !important;
    background-size: contain;
}

/*Section4 people society*/
.people_society {
    background-color: rgba(204, 204, 204, 0.3);
}
.people_society .container {
    max-width: 1064px;
    margin:auto;
    padding-top: 76px;
    padding-bottom: 51px;
    display: flex;

    }
.people_society img{
    margin: auto;
    /*max-height: 585px;*/
}
.p_s_descr{
    max-width: 532px;
    padding-top: 70px;
}

.people_society .container h4{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 31px;

}
.people_society .container p{
    max-width: 500px;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 40px;
}
.people_society .container a{
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
    display: inline-block;

}



